<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Vue Course Goals</h1>
    </header>
    <section id="user-goals">
      <h2>My course goals</h2>
      <input v-model="enteredGoals" type="text" />

      <button @click="addGoal">Add Goal</button>

      <p v-if="goals.length === 0">No goals have been added yet - please start adding some!</p>

      <ul v-else>
        <!--:key means that v-bind:key. We can bind with database' s id-->
        <li v-for="(goal, index) in goals" :key="goal" @click="removeGoal(index)"> {{ index + 1 }}: {{ goal }} 
          <p>
            <!--when user click the input it is deleted. So we have to stop deleting with @click.stop-->
            <input type="text" @click.stop>
          </p>
          
        </li>
      </ul>

      <!--For object looping-->
      <p v-for="(value, key) in obj"> {{ key }}: {{ value }} </p>
    </section>
  </body>
</html>
